<div class="row">
  <div class="col-md-6 mx-auto my-5">

    <!--<app-loading *ngIf="loading | async"></app-loading>-->

    <section class="form-elegant">

      <!--Form without header-->
      <div class="card">

        <div class="card-body mx-4">

          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-5">
              <strong>Login</strong>
            </h3>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="loginWithCredentials()">
            <div class="md-form">
              <input type="text" [mdbValidate]="false" id="email" class="form-control" formControlName="email" mdbInputDirective>
              <label for="email">Email</label>
              <div *ngIf="formErrors.email.length > 0">
                <div class="text-danger" *ngFor="let error of formErrors.email">
                  <small>{{ error }}</small>
                </div>
              </div>
            </div>

            <div class="md-form pb-3">
              <input type="password" [mdbValidate]="false" id="password" formControlName="password" class="form-control" mdbInputDirective>
              <label for="password">Password</label>
              <div *ngIf="formErrors.password.length > 0">
                <div class="text-danger" *ngFor="let error of formErrors.password">
                  <small>{{ error }}</small>
                </div>
              </div>

              <p class="font-small blue-text d-flex justify-content-end">
                <a (click)="resetPasswordModal.show()" class="blue-text ml-1">Forgot password</a>
              </p>
            </div>

            <div class="text-center mb-3">
              <button type="submit" [disabled]="!loginForm.valid"
                      class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-light" mdbWavesEffect>Login</button>
            </div>
          </form>
          <!--Body-->

        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-start">
            <a routerLink="/" class="blue-text ml-1"> Home</a>
          </p>
          <p class="font-small grey-text d-flex justify-content-end">
            <a routerLink="/signup" class="blue-text ml-1"> Sign Up</a>
          </p>
        </div>

      </div>
      <!--/Form without header-->
    </section>

  </div>
</div>
